html {
}
body {
  background: url("/images/bg.jpeg");
  background-color:  rgb(245, 241, 235);
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}
.hero {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.hero img {
  margin-top: 20%;
}
.hero p {
  font-size: 1.5em;
  font-weight: normal;
}

#main-nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 1em;
}
#main-nav ul li a,
#main-nav ul li a:visited {
  color: white;
}
section.docs-section {
  margin: 0 auto;
  max-width: 800px;
  padding: 0;
  color: black;
}

section.docs-section h1,
section.docs-section h2,
section.docs-section h3 {
  text-align: center;
}

.plugins {
  padding: 0;
}

.plugins .plugin {
  list-style: none;
  text-align: left;
  /*background-color: white;*/
  color: rgb(45, 49, 57);
  padding: 10px 20px 10px;
  border: 1px solid #0a1818;
  border-radius: 2px;
  margin-bottom: 2px;
}

.plugins .plugin .plugin-title {
  /*text-transform: uppercase;*/
  font-weight: bold;
}
